<footer class="epic-footer container-fluid py-4 px-3 d-flex flex-column flex-md-row justify-content-between align-items-center">
    <p class="mb-2 mb-md-0 text-secondary text-center text-md-start">&copy; {{Year}} Raqmiya</p>
  
    <a href="/" class="mb-3 mb-md-0 d-flex justify-content-center align-items-center text-decoration-none" aria-label="Logo">
      <svg class="bi me-2" width="40" height="32" aria-hidden="true">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>
  
    <ul class="nav justify-content-center justify-content-md-end">
      <li class="nav-item"><a href="#" class="nav-link px-2">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li>
    </ul>
  </footer>
  